#header {
    background: var(--fucsia);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}
#header .buscar {
    height: 35px;
    background: var(--blanco);
    padding: 5px 8px;
    width: 100%;
    max-width: 460px;
    min-width: 100px;
    margin: 0px 4px;
}
#header input{
    outline: none;
    border: none;
    background: var(--blanco);
    height: 30px;
    width: calc(100% - 26px);
}
#header .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#header .logo {
    width: auto;
}
#header .logo img{
    width: auto;
    max-height: 40px;
    padding: 2px;
    margin: 9px;
}
#header img.full {
    display: none;
}
#header .menu li, .info li {
    padding: 0 6px;
    text-align: center;
}
#header a.lupa i{
    background: var(--blanco);
    padding: 3px;
    color: rgba(0, 0, 0, 0.33);
}
#header .iconos{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header .iconos a {
    width: 50px;
    height: 50px;
}
#header a.carrito i, #header a.burger i{
    width: 100%;
    height: 100%;
    font-size: x-large;
    padding: 25%;
}
#header a.carrito i:hover, #header a.burger i:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}
#header nav ul{
    display: none;
}

/* tablets */
@media (min-width:481px){
}

/* laptops */
@media (min-width: 769px){
    #header img.full {
        display: block;
    }
    #header img.lite {
        display: none;
    }
    #header .menu, .info {
        display: flex;
    }
    #header .menu {
        justify-content: flex-start;
    }
    #header .info {
        justify-content: flex-end;
    }
    #header{
        flex-direction: column;
        height: 86px;
        padding: 0 18px;
    }
    #header a.carrito i:hover, #header a.burger i:hover {
        background: none;
    }
    #header .head{
        height: auto;
    }
    #header .iconos a.burger{
        display: none;
    }
    #header nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: auto;
    }
    #header nav ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}
/* desktop */
@media (min-width:1280px){
}