

header .buscar{
    display: inline-block;
    
}
header input.search{
    width: 300px;
    height: 30px;
}
header{
    text-align: center;
    background-color: var(--fucsia);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;

}

header img{
    display: block;
    border-radius: 50%;
    border: 1px solid #bbbfbe;
    margin: 15px auto 30px;
    width: 180px;
}
header .container{
    display: inline-block;
    position: relative;
}
header a.carrito i{
    background-color: var(--rosa);
    padding: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 18%;
    margin: 3px;
    right: 0;
    position: absolute;
}

header a.burger {
    display: inline-block;
    width: 35px;
    background-color:var(--fucsia-oscuro);
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}

header nav ul,header nav input{
    display: none;
}

header nav input:checked ~ ul{
    display: block;
}

header nav label{
    display: block;
    width: 35px;
    background-color: var(--azul);
    color: var(--fucsia-oscuro);
    padding: 8px;
    border-radius: 4px;
    margin: 0 auto 10px;
    text-align: center;
}

header nav ul li {
    width: 100%;
    background-color: var(--azul);
    margin-bottom: 1px;
}

header nav ul li a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}