

header .buscar{
    display: inline-block;
    
}
header input.search{
    width: 300px;
    height: 30px;
}
header{
    text-align: center;
    background-color: var(--fucsia);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;

}
header div.menu{
    display: flex;
    align-items: center;
}

header div.img img{
    /* display: block; */
    border-radius: 50%;
    border: 1px solid #bbbfbe;
    /* margin: 15px auto 30px; */
    width: 100px;
}
header .container{
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}
header a.carrito i{
    background-color: var(--rosa);
    padding: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 3px;
    right: 0;
    /* position: absolute; */
}
header div.buscar input.search{
    display: none;
}

header a.burger {
    display: inline-block;
    width: 35px;
    background-color:var(--fucsia-oscuro);
    color: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* margin-bottom: 30px; */
}

header div.container nav ul,header nav input{
    display: none;
}

header div.container nav input:checked ~ ul{
    display: block;
}

header div.container nav label{
    display: block;
    width: 35px;
    background-color: var(--azul);
    color: var(--fucsia-oscuro);
    padding: 8px;
    border-radius: 4px;
    margin: 0 auto 10px;
    text-align: center;
}

header div.container nav ul li {
    width: 100%;
    background-color: var(--azul);
    margin-bottom: 1px;
}

header div.container nav ul li a{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}