/* main */
.home main section.carrusel {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../images/fondo.webp");
    background-size: cover;
    border-bottom:1px solid rgba(0, 0, 0, 0.3);
    border: solid 1px black;
    /* margin: 300px 0px; */
}
.home main section.carrusel {
    max-height: 800px !important;
    
}
.home main section.carrusel article {
    margin: 5%;
    position: relative;
    width: 90%;
}
.home main section.carrusel article img{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}
.home main section.carrusel article p.titulo{
    position: absolute;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 65%;
    left: 23%;
}
.home main section.carrusel article p.parrafo{
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 30%;
    left: 12%;
}
.home main section.carrusel article a{
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: seagreen;
    text-transform: capitalize;
}
.home main div h2{
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
}
.home main section.productos article{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    width: 250px;
}
.home main section.productos article img{
    width: 100%;
}
.home main section.productos article div{
    text-align: center;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.3);
}
.home main section.productos article h4{  
    text-transform: uppercase;
}

.home main section.productos article a.carrito{
    background-color: var(--fucsia);
    margin: 8px;
    padding: 8px;
    border-radius: 12%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.home main section.productos article.b{
    display: none;
}
.home main section.productos article.c{
    display: none;
}
.home main section.productos article.d{
    display: none;
}

/* tablet */
@media (min-width:481px){
    .home main section.productos article{
        margin: 18px auto;
        width: 300px;
    }
    .home main section.productos article.b{
        display: flex;
    }
}
/* laptops */
@media (min-width:769px){
    .home main section.carrusel article p.titulo{
        left: 36%;
    }
    .home main section.carrusel article p.parrafo{
        left: 22%;
    }
    .home main section.productos{
        display: flex;
        flex-direction: column;
    }
    .home main section.productos div.pri{
        display: flex;
    }
    .home main section.productos article{
        margin: 18px auto;
        width: 350px;
    }
}
/* desktop */
@media (min-width:1280px){
    .home main section.carrusel{
        height: 900px;
    }
    .home main section.carrusel article{
        width: 80%;
    }
    .home main section.carrusel article p.titulo{
        left: 34%;
        font-size: 40px;
    }
    .home main section.carrusel article p.parrafo{
        left: 22%;
        font-size: 30px;
    }
    .home main section.carrusel article a{
        font-size: 22px;
    }
    .home main section.productos article{
        width: 600px;
    }
    .home main section.productos article.c{
        display: flex;
    }
    .home main section.productos article.d{
        display: flex;
    }
    .home main section.productos div.seg{
        display: flex;
    }
    .home main div h2{
        font-size: 30px;
    }
   
}