/*main*/

.cart main{
    background-color: var(--marron);
    padding-bottom: 20px;
}

.cart main .titulo{
    display: flex;
    justify-content: center;
}

.cart main  h1{
    margin: 30px;
    background-color: var(--fucsia);
    text-align: center;
    border-radius: 15px;
    padding: 15px 20px 15px 20px;
}

/*carrito*/

.cart main section.carrito input{
    width: 50px;
}

.cart main section.carrito h2{
    margin: 20px;
    background-color: var(--fucsia);
    padding: 10px;
    border-radius: 15px;
}

.cart main section.carrito{
    background-color: var(--azul);
    width: 90%;
    border-radius: 15px;
    margin: 0 5% 0 5%;
    box-shadow: 0 0 1.5em var(--rosa);
}

.cart main section.carrito div.prod-select{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cart main section.carrito article{
    padding: 20px;
    margin: 0 0 20px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fucsia);
    border-radius: 15px;
    width: 60%;
}

.cart main section.carrito article h4{
    margin: 15px;
    padding: 15px;
    background-color: var(--rosa);
    border-radius: 15px;
}

.cart main section.carrito article img{
    width: 60%;
    margin-bottom: 10px;
}

.cart main section.carrito article div.cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart main section.carrito article div.cantidad i{
    margin-left: 15px;
    padding: 5px;
    background-color: var(--rosa);
    border-radius: 5px;
    color: var(--azul);
}

/*medio de pago*/

.cart main section.pago{
    background-color: var(--azul);
    width: 90%;
    padding: 10px;
    margin: 5%;
    border-radius: 15px;
    box-shadow: 0 0 1.5em var(--rosa);
}

.cart main section.pago h2,.cart section.entrega h2{
    display: flex;
    margin: 10px 40px 20px 40px;
    text-align: center;
    background-color: var(--fucsia);
    padding: 10px 0 10px 0;
    border-radius: 15px;
    justify-content: center;
}

.cart main section.pago div.inputs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 40px 20px 40px;
}

.cart main section.pago div.form-pago label{
    display: flex;
}

.cart main section.pago div.form-pago input{
    width: 61%;
    max-width: 301px;
    margin: 10px;
    padding: 5px;
}

.cart main section.pago div.form-pago div.cod-venc{
    display: flex;
    align-items: center;
}

.cart main section.pago div.form-pago div.cod-venc input{
    max-width: 60px;
}

.cart main section.pago div.form-pago div.term{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart main section.pago div.form-pago div.term input{
    width: 3%;
}

.cart main section.pago div.form-pago div.term small{
    margin: 0 0 0 10px;
    color: var(--fucsia);
}

/*formas de entrega*/

.cart section.entrega{
    background-color: var(--azul);
    width: 90%;
    padding: 10px;
    margin: 5%;
    border-radius: 15px;
    box-shadow: 0 0 1.5em var(--rosa);
}

.cart main section.entrega div.formas-entrega{
    display: flex;
    align-items: center;
    margin: 10px 20px 20px 0;
    width: 100%;
}

.cart main section.entrega div.formas-entrega label{
    width: 25%;
    font-size: 0.70rem;
}

.cart main section.entrega h3{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 50px 20px 50px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--amarillo);
}

.cart main section.entrega div.instrucciones-envio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cart main section.entrega div.box-button{
    display: flex;
    justify-content: center;
}

.cart main section.entrega div.box-button input{
    padding: 5px 10px 5px 10px;
    margin: 10px;
    background-color: var(--rosa);
}

.cart main section.entrega div.instrucciones-envio input{
    padding: 5px;
    width: 61%;
    max-width: 301px;
}

/*meadia queries*/

/*tablet*/

@media (min-width : 481px){
    .cart main section.entrega div.formas-entrega label{
         width: 25%;
         font-size: 1rem;
    }

    .cart main section.entrega div.formas-entrega {
        font-size: 2rem;
    }

    .cart main section.entrega div.formas-entrega {
        display: flex;
        align-items: center;
        margin: 2% 2%;
        width: 100%;
    }

    .cart main section.pago div.inputs {
        font-size: 1.2rem;
        margin: 5% 13% 5% 13%;
    }
    
}

/*laptop*/

@media (min-width: 769px){

    .cart main section.carrito div.articulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cart main section.carrito article{
        padding: 20px;
        margin: 0 0 20px 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--fucsia);
        border-radius: 15px;
        width: 40%;
        align-content: space-between;
    }

    .cart main section.pago div.form-pago label,.cart main section.entrega div.instrucciones-envio{
        font-size: 1.2rem;
    }

    .cart main section.entrega div.instrucciones-envio label{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .cart main section.entrega h3{
        font-size: 1.5rem;
    }


}

/*desktop*/

@media (min-width:1280px){

    .cart main div.sections{
        display: flex;
        align-items: flex-start;
    }

    .cart main  h1{
        font-size: 3rem;
    }

    .cart main section.carrito h2{
        font-size: 2.5rem;
        margin: 20px 5%;
    }

    .cart main section.carrito article h4{
        font-size: 1.7rem;
    }

    .cart main section.carrito article div.cantidad{
        font-size: 2rem;
    }

    .cart main section.pago h2, .cart section.entrega h2{
        font-size: 2.5rem;
    }

    .cart main section.pago div.inputs{
        font-size: 1.2rem;
    }

    .cart main section.pago div.form-pago label, .cart main section.entrega div.instrucciones-envio,.cart main section.pago div.form-pago div.term small{
        font-size: 1.2rem;
    }

    .cart main section.pago div.form-pago input,.cart main section.entrega div.instrucciones-envio input{
        font-size: 1.5rem;
        max-width: 500px;
    }
    
    .cart main section.entrega div.instrucciones-envio textarea{
        font-size: 1.5rem;
    }

    .cart main section.entrega div.formas-entrega label{
        font-size: 1.2rem;
        width: 30%;
    }

    .cart main section.entrega div.instrucciones-envio input{
        margin-left: 10px;
    }

    .cart main section.pago div.form-pago div.cod-venc input{
        max-width: 84px;
    }

    .cart main section.pago div.form-pago div.term{
        padding-top: 20px;
    }
}