<header class="header">
        
        
    <div class="container">
       <div class="img">
           <a href="/"><img src="/images/logo.webp" width="45%" class="logo" alt="logo"></a> 
        </div>
        <div class="menu">
           <div class="buscar">
            <input class="search" type="text" placeholder="Buscar producto">
            <a class="lupa" href=""><i class="fas fa-search"></i></a>
        </div>
        <div class="iconos">
            <a class="carrito" href="/products/Cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <nav>
            <div class="burger">
            <input type="checkbox" id="menu">
            <label for="menu"><i class="fas fa-bars"></i></label>
            <ul class="info">
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Registro</a></li>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
            </div>
            </nav> 
    </div>
</div>
</header>