<!DOCTYPE html>
<html lang="es">
<%- include('partials/head',{title:"Contacto"})%>

<body class="contacto">
    <%- include('partials/header') %>
    <main>
        <section class="former">
            <article>
            
            <form action="/contact" method="post">
                <h1>Dejanos tu consulta</h1>
                <div class="datos">
                <input type="text" placeholder="Nombre completo" id="name" name="name">
                <input type="email" placeholder="Ingrese su email" id="mail" name="email">
            </div>
                <textarea name="comentario" maxlength="1200" id="comentario" cols="30" rows="10"
                    placeholder="Deje su comentario"></textarea>
                <div class="botones">
                    <button class="cont" type="submit">Enviar</button>
                    <button class="cont" type="reset">Borrar</button>
                </div>
                <div class="g-recaptcha" data-sitekey="6LcIL8gbAAAAAP0lXTKf6h5s1GSht3hUsmsWyj86"></div>
            </form>
        </article>
        <article>

            <h2 class="sobre">SOBRE NOSOTROS</h2>
            <form action="">
                
                <div class="about">
                    <h2>CARAMELOLANDIA</h2>

                    <p>Es un mayorista de golosinas en pleno auge de crecimiento, ubicada en la ciudad de Lanus provincia de Buenos Aires;
                        actualmente cuenta con 3 sucursales mayoristas, la primera situada en Avellaneda 1500 , la segunda se encuentra en 
                        Iriart 1300  y la tercera fue recientemente inagurada en giobellini 837 en la ciudad de campana.
                        Contamos con una estructura comercial eficiente gracias al esfuerzo y la permanente vocación de progreso.
                         Somos una empresa conformada por 3 socios-gerentes jóvenes lo que nos permite animarnos a los cambios y desafíos que se presentan día a día;
                          innovamos para poder seguir creciendo eficientemente. Además nos caracterizamos por ofrecer una excelente atención, variedad de productos y una competente fijación de precios lo que nos permitió ser reconocidos rápidamente en el mercado Bonaerense.</p>
            </form>
        </article>
        <article>
            
                <div id="integrantes">
                    <h2>CEOs developers de la pagina</h2>
                    <div class="containero">
                        <div class="foto">
                            <h4>Tamara Benitez</h4>
                        <div class="perfil" >
                            <img src="/images/tamm.jpg" alt="">
                            
                            
                            <p> 23 años, fanatica de marvel, creadora de los Tammy Tips! , aspiracion vivir en el exterior</p>
                            
                        </div>
                    </div>
                    <div class="foto">
                            <h4>Leandro Rodriguez</h4>
                        <div class="perfil">
                            <img src="/images/chinosama2.jpg" alt="">
                        </div>
                        <p> 24 años,DJ, Fotografo, Estudiante de programacion, es el masterchef de la comision 9. Aspiraciones Trabajar en el exterior.</p> 
                    </div>
                    <div class="foto">
                            <h4>Juan Diego Escalante</h4>
                        <div class="perfil" >
                            <img src="/images/juanfo.jpg" alt="">
                        </div>
                          <p> 31 años, tecnico electromecanico,estudiante de programacion .Le gusta mucho los deportes, andar en bicicleta y los juegos de mesa.</p>  
                    </div>
                    </div>
                    
                </div>
        </article>
        
        </section>
    </main>
        <%- include('partials/footer') %>
</body>

</html>