<!DOCTYPE html>
<html lang="es">
<%- include('partials/head',{title:"Contacto"})%>

<body class="contacto">
    <%- include('partials/header') %>
    <main>
        <section class="form">
            <article>
            
            <form action="">
                <h1>Dejanos tu consulta</h1>
                <div class="datos">
                <input type="text" placeholder="Nombre completo" id="name">
                <input type="email" placeholder="Ingrese su email" id="mail">
            </div>
                <textarea name="comentario" maxlength="1200" id="comentario" cols="30" rows="10"
                    placeholder="Deje su comentario"></textarea>
                <div class="botones">
                    <button class="cont" type="submit">Enviar</button>
                    <button class="cont" type="reset">Borrar</button>
                </div>
                <div class="g-recaptcha" data-sitekey="6LcIL8gbAAAAAP0lXTKf6h5s1GSht3hUsmsWyj86"></div>
            </form>
        </article>
        <article>

            <h1>SOBRE NOSOTROS</h1>
            <form action="">
                
                <div class="about">
                    <h2>CARAMELOLANDIA</h2>

                    <p>Es una sdsdsd en pleno auge de crecimiento, ubicada en la ciudad de sdfsdf provincia de Buenos Aires;
                        actualmente cuenta con 3 sucursales mayoristas, la primera situada en (direc tam) , la segunda se encuentra en 
                        (direc chino) y la tercera fue recientemente inagurada en giobellini 837 en la ciudad de campana.
                        Contamos con una estructura comercial eficiente gracias al esfuerzo y la permanente vocación de progreso.
                         Somos una empresa conformada por 3 socios-gerentes jóvenes lo que nos permite animarnos a los cambios y desafíos que se presentan día a día;
                          innovamos para poder seguir creciendo eficientemente. Además nos caracterizamos por ofrecer una excelente atención, variedad de productos y una competente fijación de precios lo que nos permitió ser reconocidos rápidamente en el mercado Bonaerense.</p>
            </form>
        </article>
        
        </section>
    </main>
        <%- include('partials/footer') %>
</body>

</html>