<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title:"Iniciar sesión"})%>

<body class="login">
    <%- include('partials/header') %>
    <main id="login">
		<form action="/users/login" method="POST" id="form">
			<div>
			  <h1>Iniciar cuenta</h1>
		      <div class="element">
		         <div class="input-data">
		            <input type="email" required name="email">
		            <div class="underline"></div>
		            <label>Correo electronico</label>
		         </div>
		      </div>
		      <div class="element">
		         <div class="input-data">
		            <input type="password" required name="password">
		            <div class="underline"></div>
		            <label>Contraseña</label>
		         </div>
		      </div><br>
				<input required type="submit" id="c" name="data-3" id="acept" value="Continuar">
			</div>
			<div id="get">
				<div></div>
				<div>
					<hr>
					<input type="button" id="g" name="aceptG" id="acept" value="Continuar con Google">
					<p></p>
					<input type="button" id="f" name="aceptF" id="acept" value="Continuar con Facebook">	
				</div>
				<div id="init">
					<a href="">Recuperar cuenta</a><br>
					<a href="/users/register">Crear tu cuenta</a>
				</div>
			</div>
		</form>
	</main>
    <%- include('partials/footer') %>

</body>

</html>