<!DOCTYPE html>
<html lang="es">
<%- include('partials/head',{title: "Carrito"})%>
  <body class="cart">
    <%- include('partials/header') %>
    <main>
      <div class="titulo">
        <h1>Carrito de compras</h1>
      </div>
      <section class="carrito">
        <div class="prod-select">
          <h2 class="titulo-producto" id="titulo-producto">Productos seleccionados</h2>
          <div class="articulos">
            <article class="productosSeleccionados" id="productosSeleccionados">
              <h4>Nombre del producto</h4>
              <img src="/images/guaymallen.png" alt="" width="20%" />
              <div class="cantidad">
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" min="1" max="100">
                <p>Precio:</p>
                <p>Subtotal: </p>
                <i class="far fa-trash-alt"></i>
              </div>
            </article>
           
            <div class="final">
              <h5 class="precioTotal" id="precioTotal">Total:</h5>
            </div>
          </div>
        </div>
      </section>
      <div class="sections">
        <section class="pago">
          <h2>Formas de pago</h2>
          <div class="inputs">
            <input type="radio" name="medio-de-pago" value="efectivo" id="efec"><i class="fas fa-money-bill-wave"></i>
            <label for="efec">Efectivo</label>
            <input type="radio" name="medio-de-pago" value="debito" id="deb" checked ><i class="fas fa-university"></i>
            <label for="deb">Debito</label>  
            <input type="radio" name="medio-de-pago" value="tarjeta" id="tarj"><i class="far fa-credit-card"></i>
            <label for="tarj">Tarjeta</label>
          </div>
          <div class="form-pago">
            <form action="" method="POST">
              <label for="nombre">Nombre y apellido:</label>
              <input type="text" id="nombre" placeholder="Como figura en la tarjeta">
              <label for="tarjeta">Numero tarjeta:</label>
              <input type="text" id="tarjeta" placeholder="Numero tarjeta">
              <div class="cod-venc">
                <label for="cod-seg">Cod.Seguridad:</label>
                <input type="text" id="cod-seg" placeholder="Cod.seg">
                <label for="fecha">Fecha venc.:</label>
                <input type="text" id="fecha" placeholder="MM/AA" >
              </div>
              <div class="term">
                <input type="checkbox" id="terminos" name="terminos" value="1">
                    <label for="terminos"><a href="">Acepto los Terminos y Condiciones</a></label>
                    <small>(Obligatorio)</small>
              </div>
                </form>
          </div>
        </section>
        <section class="entrega">
          <h2>Formas de entrega</h2>
          <form action="" method="POST" class="formulario" id="formulario">
          <div class="formas-entrega">
            <input type="radio" name="entrega" value="correo" id="correo"><i class="fas fa-mail-bulk"></i>
            <label for="correo">Retiro en correo</label>
            <input type="radio" name="entrega" value="domicilio" id="dom" checked><i class="fas fa-truck"></i>
            <label for="dom">Envio a domicilio</label>
            <input type="radio" name="entrega" value="sucursal" id="suc"><i class="fas fa-home"></i>
            <label for="suc">Retiro en Sucursal</label>
          </div>
          <h3>Datos para el envio</h3>
          <div class="instrucciones-envio">
              <label for="dom">Domicilio:</label>
              <input type="text" name="domicilio" id="dom" placeholder="Domicilio">
              <label for="cod-post">Codigo Postal:</label>
              <input type="text" name="cod-postal" id="cod-post" placeholder="Codigo Postal">
              <label for="tel">Telefono:</label>
              <input type="text" name="telefono" id="tel" placeholder="Telefono">
              <label for="instrucciones">Instrucciones para la entrega:</label>
              <textarea name="instrucciones" id="instrucciones" cols="30" rows="5" placeholder="Ejemplo: Puerta color negra/No Hay timbre/Quien Recibe" style="resize: none"></textarea>
              </div>
              <div class="box-button">
                <input type="submit" value="Comprar" class="comprar">
                <input type="reset" value="Cancelar" class="cancelar">
            </div>
            </form>
          </div>
        </section>
    </main>
        <%- include('partials/footer') %>
       
  </body>

</html>
