<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

<body class="edit">
    <%- include('partials/header') %>
   <main>
       <h1>Editar Producto</h1>
       <form action="/products/edit" method="POST">
           <div class="box-form ">
               <label for="nombre">Nombre del Producto</label>
               <input type="text" name="nombre" placeholder="Ej: Alfajor">
           </div>

           <div class="box-form">
               <label for="informacion">Informacion Nutricional</label> 
               <textarea name="informacion" id="informacion" cols="30" rows="10"></textarea>
           </div>
           <div class="box-form">
               <label for="marca">Marca</label>
               <input type="text" name="marca" placeholder="Marca">
           </div>
            <div class="box-form">
                <label for="variedad">Variedad</label>
                <input type="text" name="variedad" placeholder="Ej: Sabor, Caracteristica">
            </div>
            <div class="box-form">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio">
            </div>
            <div class="box-form">
                <label for="stock">Stock</label>
                <input type="number" name="stock" id="stock" >
            </div>
            <div class="box-form">
                <label for="descuento">Descuento</label>
                <input type="number" name="descuento" id="descuento">
            </div>
            <div class="box-form">
                <label for="imagen">Subir Imagen</label>
                <input type="file" name="imagen" id="imagen">
            </div>
            <div class="box-form">
                <label for="vegano">Apto Vegano</label>
                <select name="vegano" id="vegano">
                <option value="si">Si</option>
                <option value="si">No</option>
            </select>
            </div>
            <div class="box-button">
                <button type="submit">Agregar Producto</button>
                <button type="reset">Cancelar</button>

            </div>

       </form>
   </main>
	
    <%- include('partials/footer') %>

</body>

</html>