<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title:"Registrarse"})%>

<body>
	<%- include('partials/header') %>
	<main id="register">
		<form action="" method="POST" id="form" enctype="multipart/form-data">
			<div>
				<h1>Crear tu cuenta</h1>
				<div class="element">
					<div class="input-data">
						<input type="text" required name="name" id="name">
						<div class="underline"></div>
						<label>Nombre Completo</label>
					</div>
				</div>
				<div class="element">
					<div class="input-data">
						<input type="email" required name="email" id="email">
						<div class="underline"></div>
						<label>Correo electronico</label>
					</div>
				</div>
				<div class="element">
					<div class="input-data">
						<input type="password" required name="password" id="password">
						<div class="underline"></div>
						<label>Contraseña</label>
					</div>
				</div>
				<div class="element">
					<label for="img">Subir foto de perfil</label>
					<input type="file" name="image" id="img" accept="images/*">
				</div>
				<label>Acepto los <a href="#!">terminos y condiciones</a></label>
					<input required type="checkbox" name="terms" id="terms" value="true" ><br>
				<label>Recibir notificaciones de ofertas</label>
					<input type="checkbox" name="sales" id="sales" value="true" ><br>
				<br>
				<input required type="submit" id="c" name="data-6" id="acept" value="Registrarse">
			</div>
			<div id="get">
				<div></div>
				<div>
					<hr>
					<input type="button" id="g" name="aceptG" id="acept" value="Registrarse con Google">
					<p></p>
					<input type="button" id="f" name="aceptF" id="acept" value="Registrarse con Facebook">	
				</div>
				<div id="init">
					<a href="/users/login">Iniciar tu cuenta</a>
				</div>
			</div>
		</form>
	</main>
	<%- include('partials/footer') %>
</body>
</html>