<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title: "Usuario"})%>

<body>
    <%- include('../partials/header') %>
    
    <main id="user">
    </main>

    <%- include('../partials/footer') %>
</body>
</html>