<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caramelolandia</title>
    <script src="https://kit.fontawesome.com/af21a12db7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header>
        <div class="head">
            <div class="logo">
                <img src="/images/logo.webp" alt="logo">
            </div>
            <div class="buscar">
                <input class="search" type="text" placeholder="Buscar producto">
                <a class="lupa" href=""><i class="fas fa-search"></i></a>
            </div>
            <div class="iconos">
                <a class="carrito" href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <a class="burger" href="#"><i class="fas fa-bars"></i></a>
            </div>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
            <ul class="info">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="carrusel">
            <article>
                <img src="/images/Golosinas-a-granel.jpg" alt="">
                <p class="titulo">tenemos gran variedad</p>
                <p class="parrafo">encontra todos los productos en nuestra tienda online</p>
                <a class="boton" href="">ver tienda</a>
            </article>
        </section>
        <div>
            <h2>productos</h2>
        </div>
        <section class="productos">
            <div class="pri">
            <article class="a">
                <a class="product" href="/productDetail"><img src="/images/guaymallen.png" alt=""></a>
                <div>
                    <h4>Alfajor</h4>
                    <p>$50</p>
                </div>
                <a class="carrito" href="/productCart">añadir al carrito</a>
            </article>
            <article class="b">
                <img src="/images/7790580110796_02.jpg" alt="">
                <div>
                    <h4>arcor</h4>
                    <p>$500</p>
                </div>
                <a class="carrito" href="/productCart">añadir al carrito</a>
            </article>
        </div>
        <div class="seg">
            <article class="c">
                <img src="/images/jorgito.jpg" alt="">
                <div>
                    <h4>Jorgito</h4>
                    <p>$120</p>
                </div>
                <a class="carrito" href="/productCart">añadir al carrito</a>
            </article>
            <article class="d">
                <img src="/images/rockelt.jpg" alt="">
                <div>
                    <h4>Rocklet</h4>
                    <p>$56</p>
                </div>
                <a class="carrito" href="/productCart">añadir al carrito</a>
            </article>
        </div>
        </section>
    </main>
    <footer>
        <nav class="menup">

            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/productCart">Carrito</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
        <nav class="redes">
            <h4>Seguinos en nuestras redes</h4>
            <ul>
                <li class="facebook"><a href=""><i class="fab fa-facebook"></i></a></li>
                <li class="instagram"><a href=""><i class="fab fa-instagram"></i></a></li>
                <li class="twitter"><a href=""><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>