<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/af21a12db7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Detalle de Producto</title>
  </head>
  <body class="detail" #="top">
    <header class="index">
      <div class="logo">
        <img src="/images/logo.png" alt="logo" >
      </div>
      <div class="buscar">
        <input class="search" type="text" placeholder="Buscar producto" />
        <a class="lupa" href=""><i class="fas fa-search"></i></a>
      </div>
      <nav>
        <a class="carrito" href="/productCart.html"
          ><i class="fas fa-shopping-cart"></i
        ></a>
        <a class="burger" href="#"><i class="fas fa-bars"></i></a>
        <ul class="menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Productos</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>
        <ul class="info">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Registro</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="carrusel">
        
        <article class="producto">
          <div class="carruselarrow">
            <a href="" class="arrow"><i class="fas fa-chevron-left"></i></a>
            <img src="/images/guaymallen.png" alt="" width="80%"/>
            <a href="" class="arrow"><i class="fas fa-chevron-right"></i></a>
          </div>
          <div class="nav">
            <a class="circle" href=""><i class="fas fa-circle"></i></a>
            <a class="circle" href=""><i class="fas fa-circle"></i></a>
            <a class="circle" href=""><i class="fas fa-circle"></i></a>
          </div>
        </article>
      </section>
      <section>
        <article class="descripcion">
          <h4>nombre del producto:</h4>
          <p>Alfajor Guaymallen(Simple)</p>
          <h4>Disponible en:</h4>
          <p>Chocolate, Dulce de leche y Membrillo</p>
          <h4>Marca:</h4>
          <p>Guaymallen</p>
          <h4>Informacion nutricional:</h4>
          <p>
            Alfajor de Chocolate 1 alfajor (38g) 162 kcal<br />
            Alfajor Blanco 1 alfajor (38g) 161 kcal<br />
            Alfajor de Membrillo 1 porción (38g) 156 kcal
          </p>
          <h4>Apto vegano:</h4>
          <p>No</p>
          <h4>acerca de la Marca:</h4>
          <p>
            Guaymallen comenzó en 1944 operando desde una panadería alquilada y
            desde allí se convirtió en la primera fábrica de alfajores de venta
            masiva de Argentina. En 1972, abrió su planta de 1.200 metros
            cuadrados en el barrio porteño de Mataderos. ... Hoy tienen 220
            empleados y producen 2 millones de alfajores al día
          </p>
        </article>
      </section>
      <div>
        <a class="agregar" href=""><i class="fas fa-shopping-cart"></i>Agregar al carrito</a>
      </div>
      <h3>Productos relacionados</h3>
      <section class="relacionados">
        <article>
          <a href=""><img src="/images/rockelt.jpg" alt="product1" width="100%"></a>
          <div class="nombreprod">
            <span>$200</span>
            <h4>Rocklets</h4>
          </div>
        </article>
        <article>
          <a href=""><img src="/images/jorgito.jpg" alt="product2" width="100%"></a>
          <div class="nombreprod">
            <span>$250</span>
            <h4>Alfajorcitos Jorgito</h4>
          </div>
        </article>
        <article>
          <a href=""
            ><img src="/images/7790580110796_02.jpg" alt="product3" width="100%"></a>
          <div class="nombreprod">
            <span>$1.500</span>
            <p>15%OFF</p>
            <h4>Caja Arcor</h4>
          </div>
        </article>
        <div class="nav-pages">
          <i class="far fa-arrow-alt-circle-left"></i>
          <i class="far fa-circle"></i>
          <i class="far fa-circle"></i>
          <i class="far fa-circle"></i>
          <i class="far fa-arrow-alt-circle-right"></i>
        </div>
      </section>
    </main>
    <footer class="principal">
      <nav class="menup">
        <ul class="menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="/detailprod">Productos</a></li>
          <li><a href="/contact">Contacto</a></li>
        </ul>
      </nav>
      <nav class="redes">
        <h4>Seguinos en nuestras redes</h4>
        <ul>
          <li class="facebook">
            <a href=""><i class="fab fa-facebook"></i></a>
          </li>
          <li class="instagram">
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li class="twitter">
            <a href=""><i class="fab fa-twitter-square"></i></a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
