<!DOCTYPE html>
<html lang="es" id="register">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registro</title>
</head>
<body>
	<header></header>
	<main>
	    <center>
			<form action="">
				<div>
				  <h1>Crear tu cuenta</h1>
			      <div class="element">
			         <div class="input-data">
			            <input type="text" required name="data-1">
			            <div class="underline"></div>
			            <label>Nombre Completo</label>
			         </div>
			      </div>
			      <div class="element">
			         <div class="input-data">
			            <input type="email" required name="data-2">
			            <div class="underline"></div>
			            <label>Correo electronico</label>
			         </div>
			      </div>
			      <div class="element">
			         <div class="input-data">
			            <input type="password" required name="data-3">
			            <div class="underline"></div>
			            <label>Contraseña</label>
			         </div>
			      </div>
					<label>Acepto los <a href="#!">terminos y condiciones</a></label>
						<input required type="checkbox" name="data-5"><br>
					<label>Recibir notificaciones de ofertas</label>
						<input type="checkbox" name="datsa-6"><br>
					<br>
					<input required type="submit" id="c" name="aceptC" id="acept" value="Registrarse">
				</div>
				<div id="get">
					<div>
						<hr>
						<input required type="submit" id="g" name="aceptG" id="acept" value="Registrarse con Google">
						<p></p>
						<input required type="submit" id="f" name="aceptF" id="acept" value="Registrarse con Facebook">	
					</div>
					<div id="init">
						<a href="#">Iniciar seción</a>
					</div>
				</div>
			</form>
	    </center>
	</main>
	<footer></footer>
</body>
</html>