<!DOCTYPE html>
<html lang="es" id="register">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registro</title>
</head>
<body>
	<header></header>
	<main>
		<h1>Crear tu cuenta</h1>
	    <center>
			<form action="">
		      <div class="element">
		         <div class="input-data">
		            <input type="text" required>
		            <div class="underline"></div>
		            <label>Nombre de Usuario</label>
		         </div>
		      </div>
		      <div class="element">
		         <div class="input-data">
		            <input type="password" required>
		            <div class="underline"></div>
		            <label>Contraseña</label>
		         </div>
		      </div>
				<label for="userContrat">Acepto los <a href="contrat">terminos y condiciones</a></label>
					<input required type="checkbox" name="userContrat"><br>
				<label for="notiPull">Recibir notificaciones de ofertas</label>
					<input type="checkbox" name="notiPull"><br>
				<br>
				<input required type="submit" name="acept" id="acept" value="Registrar">
			</form>
	    </center>
	</main>
	<footer></footer>
</body>
</html>