 .contacto section .former{
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
}
.contacto main{
    margin: 10px 0;
    background-image: url('/images/banner/imagen4.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.contacto h1{
    text-align: center;
    color: var(--azul) ;
}
.contacto .sobre{
  text-align: center;
  color: #FF71BE;
  background: rgba( 255, 255, 255, .8) ;
}
.contacto .former article form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-image: url("/images/depositphotos_112437920-stock-illustration-abstract-wafer-background.jpg");
    width: 95%;
    
}
.contacto .former article form p{
padding: 20px;
}
.contacto .datos{
    min-width: 300px;
    width: 100%;
    max-width: 450px;
    padding: 10px;
}
.contacto .datos input{
height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.contacto textarea{
  height: 80%;
  width: 80%;
  border: 2px solid silver;
  font-size: 17px;
  
}
.contacto div.botones{
    text-align: center;
    margin-bottom: 10px;
}
.contacto button.cont{
    background-color: var(--rosa);
    text-align: center;
    border: none;
    cursor: pointer;
  width: 250px;
  height: 40px;
  color: var(--negro);
  margin: 5px auto;
}
.contacto .g-recaptcha{
    margin: 0 auto !important;
}


 .contacto #integrantes{
  display: flex;
  flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/depositphotos_112437920-stock-illustration-abstract-wafer-background.jpg");
    width: 95%;
    margin: auto;
    margin-top: 20px;

 }
 

 .contacto #integrantes h2{
   padding: 10px 0;
   color: var(--azul);
   display: inline;
   padding-bottom: 30px;
 }
.contacto .containero{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto div.foto{
  width: 80%;
  height: auto;
}

.contacto div.perfil img{
  padding: 10px 0;

  height: auto;
  width: 100%;
 }
 
 .contacto div .foto p{
   padding:30px ;
 }

@media (min-width:769px) {
    .contacto main{
        text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .contacto h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .contacto section .former article form {
    	margin: 17vh 0px;
	    padding: 50px;
	    width: 80%;
	    max-width: 420px;
      box-shadow: rgb(0 0 0 / 50%) 0px 10px 20px 1px;
	}
  .contacto .containero{
    display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  .contacto div.foto{
    width: 30%;
    height: auto;
    padding-bottom: 20px;
  }
}

@media (min-width:1200px) {
    .contacto {
      height: 96vh;
    }
    .contacto .former article form {
      margin: calc(17vh - 50px) 0px;
      max-width: 840px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .contacto .former{
      display: flex;
      flex-direction: column;
       align-items:center ;
    }
    .contacto .datos input{
      margin-bottom: 15px;
    }
    .contacto div.botones{
      margin: 15px 0;
    }
    
    }