/* main */
.home{
    overflow-x: hidden;
}
.home main section.carrusel {
    width: 100%;
    background-image: url("../images/fondo.webp");
    background-repeat: repeat;
    border-bottom:1px solid rgba(0, 0, 0, 0.3);
    border: solid 1px black;
}
.home .carrusel{
    width: 90%;
    max-width: 120em;
    padding: 2em;
    
}
.home .carrusel .grande{
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(0%);
    max-height: 700px !important; 
}
.home .carrusel .img{
    width: calc(100% / 2 - 2em);
    min-height: 10vh;
    max-height: 600px !important;
}
.home .carrusel .puntos{
    width: 100%;
    padding: .4em;
    margin: 1em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.home .carrusel .punto{
    width: 1em;
    height: 1em;
    background-color: rgb(219, 105, 210);
    margin: 10px;
    border-radius: 50%;
    list-style: none;
    cursor: pointer;
}
.home .carrusel .punto.activo{
    background-color: rgb(250, 135, 240);
}

.home main div h2{
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
}
.home main section.productos div  article{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    width: 25%;
    max-height: 70vh;
}
.home main section.productos article img{
    width: 100%;
    max-height: 45vh;
}
.home main section.productos article div{
    text-align: center;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.3);
}
.home main section.productos article h4{  
    text-transform: uppercase;
}

.home main section.productos article a.carrito{
    background-color: var(--fucsia);
    margin: 8px;
    padding: 8px;
    border-radius: 12%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* tablet */
@media (min-width:481px){
    .home main section.productos article{
        margin: 18px auto;
        width: 300px;
    }
}
/* laptops */
@media (min-width:769px){
    .home .carrusel{
    margin-bottom: 10px;
    }
    .home .carrusel .punto{
        width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    }
    .home main section.productos{
        display: flex;
        flex-direction: column;
    }
    .home main section.productos div.pri{
        display: flex;
    }
    .home main section.productos article{
        margin: 18px;
        width: 350px;
    }
}
/* desktop */
@media (min-width:1280px){
    .home main section.carrusel{
        height: 850px;
    }
    .home main section.productos article{
        width: 600px;
    }
    .home main div h2{
        font-size: 30px;
    }
   
}