<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title: "Administrador"})%>

<body>
    <%- include('../partials/header') %>
    <main id="admin">
    	<section>
    		<h4>Productos</h4>
    		<table>
    			<tr>
                    <th>ID</th>
    				<th>
                        <input type="search" id="search" placeholder="Alfajor, caramelo...">
                    </th>
                    <th>PRECIO</th>
                    <th>VISIBILIDAD</th>
                    <th>STOCK</th>
    			</tr>
    		</table>
    	</section>
	</main>
    <%- include('../partials/footer') %>

</body>

</html>