<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title: "Administrador"})%>

<body>
    <%- include('../partials/header') %>
    <main id="admin">
	</main>
    <%- include('../partials/footer') %>

</body>

</html>